* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  max-width: 1080px;
}

header img {
  width: 200px;
  height: 54px;
  margin-right: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.nav-item:active {
  text-decoration: underline;
}

/* MAIN CSS */
section:first-of-type {
  background-color: #495E57;
  padding: 30px;
}

.section-center {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1080px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section-center-c {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1080px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

main section:first-of-type .section-center div:first-of-type h1 {
  font-size: 64px;
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
}

main section:first-of-type .section-center div:first-of-type h3 {
  font-size: 40px;
  color: white;
  font-family: 'Markazi Text', serif;
}

main section:first-of-type .section-center div:first-of-type p {
  font-size: 28px;
  width: 281px;
  color: white;
  font-family: 'Markazi Text', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  scale: 0.95;
}

main section:first-of-type div:first-of-type {
  width: 100%;
}

main section:first-of-type div:last-of-type {
  position: relative;
  width: 100%;
}

main section:first-of-type div:last-of-type img {
  position: absolute;
  height: 500px;
  width: 400px;
  right: -50px;
  top: 0px;
  border-radius: 16px;
  object-fit: cover;
}

/* WEEK SPECIALS SECTION */

section:nth-of-type(2) {
  padding-top: 150px;
  padding-bottom: 100px;
}

.week-specials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.week-specials h2 {
  font-size: 64px;
  font-family: 'Markazi Text', serif;
}

.cards-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.Card {
  background-color: #EDEFEE;
  min-height: 500px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
}

.Card img {
  width: 100%;
  height: 263px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.Card .price {
  color: #EE9972;
  font-weight: bold;
}

.dish-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.dish-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.dish-desc {
  color: #495E57;
  font-size: 16px;
  line-height: 1.5;
}

.delivery-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.order-delivery {
  font-weight: bold;
  margin-right: 10px;
}

/* TESTIMONIALS */

section:nth-of-type(3) {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #EDEFEE;
}

.testimonial-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.review-card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.review-card {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
}

.reviewimg1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-name {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* ABOUT SECTION */

section:last-of-type {
  padding-top: 80px;
}

.about-info-container {
  width: 100%;
}

.about-info-container h2 {
  font-size: 34px;
  color: #495E57;
}

.about-info-container h4 {
  font-size: 24px;
}

.about-info-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-image-container {
  position: relative;
  display: flex;
  width: 100%;
}

.about-image1 {
  width: 300px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 16px;
  z-index: 98;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
}

.about-image2 {
  width: 300px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: 100px;
  right: 150px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
}

/* FOOTER */

footer {
  margin-top: 120px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #f4f4f4;
  border-top: 1px solid #e3e3e3;
}

.footer-upper-section {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 200px;
  margin-right: 10px;
}

.footer-links-flex {
  display: flex;
}

.footer-links-section {
  width: 200px;
}

.footer-links-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-ul {
  list-style: none;
}

.footer-ul li {
  padding: 3px 0px;
}

.footer-ul li a {
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.footer-ul li a:hover {
  text-decoration: underline;
}

.rights-reserved-container {
  margin-top: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #e3e3e3;
}

.rights-reserved {
  color: gray;
  font-size: 16px;
}

/* EMPTY SECTIONS */

.filler {
  height: 2000px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 949px) {
  .review-card:hover {
    scale: 1.02;
  }
}

@media only screen and (max-width: 948px) and (min-width: 769px) {
  nav {
    display: none;
  }

  .header-center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1080px;
  }

  .review-card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-image-container {
    display: none;
  }

  .footer-upper-section {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
  }

  .footer-links-flex {
    display: flex;
    flex-direction: column;
  }

  .rights-reserved-container {
    padding-left: 120px;
  }
}

@media only screen and (max-width: 768px) {

  nav {
    display: none;
  }

  .header-center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1080px;
  }

  main section:first-of-type div:first-of-type {
    text-align: center;
  }
  
  main section:first-of-type .section-center div:first-of-type p {
    width: auto;
  }

  main section:first-of-type div:nth-of-type(2) {
    display: none;
  }

  .week-specials {
    flex-direction: column;
  }

  .week-specials h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .cards-container {
    display: grid;
    gap: 30px;
    grid-template-columns: none;
    grid-template-rows: 1fr;
  }

  .review-card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .about-image-container {
    display: none;
  }

  .footer-links-flex {
    display: none;
  }
  
  .footer-upper-section {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
  }

  .rights-reserved-container {
    text-align: center;
  }
}